<div class="div-card">
  <mat-card class="card-cadastro">
    <mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Dados companhia</ng-template>
          <mat-form-field class="example-full-width">
            <input required matInput placeholder="Empresa" formControlName="empresa">
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-select [(ngModel)]="estadoSelecionado" placeholder="Estado" formControlName="estado" required>
              <mat-option *ngFor="let estado of listEstados | async" [value]="estado">
                {{ estado.nome }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="estadoSelecionado">
            <mat-select [(ngModel)]="estadoSelecionado" formControlName="cidade" required placeholder="Cidade">
              <mat-option *ngFor="let cidade of estadoSelecionado.cidades" [value]="cidade">
                {{ cidade }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <button color="accent" mat-raised-button matStepperNext>Next</button>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fill out your address</ng-template>
          <mat-form-field>
            <input matInput placeholder="endereco" formControlName="endereco" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>

  </mat-card>
</div>
